.ap-table {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

/* .table__id {} */
/* .table__brand{} */
/* .table__model{} */
.table__colour {
  width: 100px !important;
}
/* .table__serial{} */
/* .table__po{} */
/* .table__status{} */
/* .table__archived-reason{} */
