.products-details-sold-history {
  overflow: auto;
}

/* Table */
.products-details-sold-history-table {
  border: 1px solid #d9dbe1;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.products-details-sold-history-table-row {
  display: flex;
  width: max-content;
  padding: 12px 16px;
  gap: 24px;
}

.products-details-sold-history-table-header__data {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.003em;
  color: #121212;
  width: 150px;
}

.products-details-sold-history-table-content {
  border-top: 1px solid #d9dbe1;
}

.products-details-sold-history-table-content__data {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.003em;
  color: #474a57;
  width: 150px;
}

/* End Table */
