.products-details-page__general-form {
  display: grid;
}

.products-details-page__general-form__copy {
  justify-self: right;
  cursor: pointer;
}

.products-details-page__general-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  margin-top: 10px;
}
