.notifications-header {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
  width: max-content;
  padding-left: 40px;
  padding-bottom: 14px;
}

.notification-header__option {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.003em;
  color: #969bab;
}

.notification-header__option--active {
  color: #121212;
  border-bottom: 2px solid #a1b418;
  padding-bottom: 6px;
}
