.select-input {
  width: 100%;
  display: grid;
  gap: 7px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #d9dbe1;
}

.select-input__input-wrapper {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.select-input__input-wrapper__placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.003em;
  color: #969bab;
}

.select-input__drop-down {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.select-input__drop-down--up {
  bottom: 53px;
}

.select-input__drop-down--down {
  top: 53px;
}
