.settings {
  max-width: 700px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(35, 35, 35, 0.15);
  padding: 24px 40px 32px;
  display: grid;
  gap: 24px;
  position: relative;
  z-index: 1;
}

.settings::before {
  content: "";
  position: absolute;
  width: 32.04px;
  height: 32.04px;
  background: #ffffff;
  left: calc(50% - 32.04px / 2 + 9.43px);
  border-radius: 2.66959px;
  transform: matrix(-0.7, -0.71, 0.71, -0.7, 0, 0);
  top: -10px;
  z-index: -1;
}

.settings__visible {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.003em;
  color: #474a57;
}

.settings__buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: right;
  margin-top: 9px;
}
